a.colorscheme {
	display: inline-block;
	width: 100px;
	height: 100px;
	margin-right: 10px;
	text-align: center;
	padding: 72px 0 0;
	color: #000000;
}
a.colorscheme.dark {
	color: #ffffff;
}
a.colorscheme:hover {
	color: #000000;
	text-decoration: underline;
}
a.colorscheme.dark:hover {
	color: #ffffff;
	text-decoration: underline;
}
